index.html
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Logistics Management SYSTEM</title>
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico"/>
    <link rel="bookmark" href="favicon_16.ico"/>
    <!-- site css -->
    <link rel="stylesheet" href="static/dist/css/site.min.css">
    <link rel="stylesheet" href="static/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/lib/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/lib/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/css/toastr.css?var={{rand}}">


    <script type="text/javascript" src="static/dist/js/site.min.js"></script>
    <script src="static/lib/js/jquery-ui.min.js"></script>
    <script src="static/lib/js/toastr.min.js"></script>
    <script src="static/lib/js/konva.js"></script>
    <script src="static/user/js/sonic.js" defer></script>

    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

    {% include 'common/css.html' %}
</head>
<body>
<!-- https://www.w3schools.com/bootstrap/default.asp -->
<!--header + top-->
{% include 'top.html' %}
<!--header + top end-->

<!-- 3단중 중단(사이드 메뉴와 본문)  -->
<div class="container-fluid">
    <!--documents-->
    <div class="row row-offcanvas row-offcanvas-left">

        {% include 'menu.html' %}

        <div class="col-xs-12 col-sm-9 content">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left"
                                                                                   data-toggle="offcanvas"
                                                                                   title="Maximize Panel"></span></a>
                                                                                   Temperature & Humidity Data
                    </h3>
                </div>

                <div class="panel-body">

                    

                    <!-- Tab Menu -->
                    <div class="col-md-6">
                        <ul id="myTab" class="nav nav-pills nav-justified">
                            <li class="active"><a href="#Switch" data-toggle="tab">DATA GRAPH</a></li>
                            
                        </ul>
                    </div>

                    <!-- Tab Menu End-->

                                       <div id="myTabContent" class="tab-content col-md-12">

                                           <div class="tab-pane fade active in" id="Setting">

                                               <div class="tab-content col-md-12"
                                                    style="border-top: 1px solid #80808069; padding-top: 10px;">

                                                   <div class="content-row">
                                                       <h1>Temperature & Humidity Data</h1>
                                                            <style>
                                                                h1 {
                                                                    font-size: 40px; /* 원하는 크기로 조정하세요 */
                                                                }
                                                            </style>
                                                       <p id="distance"></p>

                                                   </div>
                                                   <div id="chart"></div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>

                    <div id="myTabContent" class="tab-content col-md-12">
                        <div class="tab-pane fade active in" id="Switch">
                            <div class="tab-content col-md-12" style="border-top: 1px solid
#80808069; padding-top: 10px;">
                                <div class="content-row">
                                    <div class="col-md-12">
                                        <!-- Switch Button -->
                                        <input type="checkbox" class="rgb-3color-led-switch">
                                    </div>
                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <div class="row"></div>
                                    <!-- row -->
                                </div>
                                <!-- content-row -->
                            </div>
                            <!--tab-content-->
                        </div>

                          <script>
                        $(function () {
                            $('.rgb-3color-led-switch').bootstrapSwitch();
                        });

                    </script>
                                    </div>
                                    <!-- row end-->
                                </div>
                                <!-- content-row end-->
                            </div>
                            <!-- tab-content col-md-12 end -->
                        </div>
                        <!-- Event end-->

                    </div>
                    <!-- myTabContent end -->

                </div>
                <!-- panel body end-->
            </div>
            <!-- panel panel-default end -->
        </div>
        <!-- content -->
    </div>
</div>
<!-- 3단중 중단(사이드 메뉴와 본문) end -->

<!--footer(하단)-->
<div class="site-footer">
    <div class="container">

        <div class="copyright clearfix">
            <p>
                <b>IOT AMDIN SYSTEM</b>&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p>Copyright © ine.gachon.ac.kr 2024</p>
        </div>

    </div>
</div>
<!--footer(하단) end-->

<div class="loading-overlay">
    <img src="static/image/Spinner-1s-200px.gif" alt="Loading" class="loading-image">
</div>
</body>

{% include 'common/js_fun.html' %}
{% include 'common/js_init.html' %}
<script>
    const margin = {top: 20, right: 20, bottom: 30, left: 40};
    const width = 600 - margin.left - margin.right;
    const height = 300 - margin.top - margin.bottom;

    const svg = d3.select("#chart")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", `translate(${margin.left}, ${margin.top})`);

    const x = d3.scaleLinear()
        .range([0, width]);

    const y = d3.scaleLinear()
        .range([height, 0]);

    const xAxis = svg.append("g")
        .attr("transform", `translate(0, ${height})`)
        .attr("class", "x-axis");

    const yAxis = svg.append("g")
        .attr("class", "y-axis");

    let data = [];
    let currentTime = 0;
    function updateChart(newData) {
  data.push({time: currentTime, distance: newData.distance});
  currentTime += 10; // 10초마다 새로운 데이터 추가

  const maxTime = d3.max(data, d => d.time);
  x.domain([0, maxTime]); // x축 범위를 0부터 maxTime까지로 설정

  y.domain([0, d3.max(data, d => d.distance)]); // 데이터의 최대값으로 y축 범위 설정

  const line = d3.line()
    .x(d => x(d.time))
    .y(d => y(d.distance));

  svg.selectAll(".line")
    .data([data])
    .join("path")
    .attr("class", "line")
    .attr("d", line)
    .attr("fill", "none")
    .attr("stroke", "steelblue");

  xAxis.call(d3.axisBottom(x));
  yAxis.call(d3.axisLeft(y));
}

    // 초기 업데이트 실행
    updateChart({distance: 0});


</script>
<script src="static/lib/js/socket.io-3.0.1.min.js"></script>
<script>

    $(function () {
        //소켓아이오 js
        ////////////////////////////////////////////////////////////////////////////
        socket = io({
            transports: ['websocket']
        });

        socket.on('connect', function () {
            console.log('소켓 접속 완료');
            //alertShow('socket connection complete');
        });

        socket.on('disconnect', function () {
            console.log('소켓 접속 종료');
        });

        socket.on('distance_data', (data) => {
            console.log(data);
            document.getElementById('distance').innerText = data.distance;
            updateChart(data)
        });

		socket.on('item', (data) => {
			console.log(data);
			
		})
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/raphael/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage/justgage.js"></script>
<script type="text/javascript" src="static/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/lib/js/dataTables.bootstrap.min.js"></script>
<script src="static/user/js/system_info.js?var={{rand}}"></script>
<script src="static/user/js/3color_led_switch.js?var={{rand}}"></script>

<script>
    alertShow('');
</script>

</html>